.file-uploader {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.uploaded-files {
  list-style: none;
  padding: 0;
  margin: 0;
}

.uploaded-files li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.uploaded-files li:last-child {
  border-bottom: none;
}

.uploaded-files button {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.uploaded-files button:hover {
  background-color: #ff99cc;
}